@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: $bp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: $bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: $bp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: $bp-desktop-xl) {
      @content;
    }
  }
}

@mixin reset-list() {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin button() {
  display: inline-block;
  position: relative;
  padding: 8px 0px;
  text-decoration: none;
  font-family: $title-font;
  color: $white;
  border: none;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 2px;
  &::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: $green;
    top: 100%;
    right: 0;
  }
  &:hover {
    color: $green;
  }
}
