$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

/* Fonts*/


$title-font: "Space Grotesk", sans-serif;
$body-font: "Space Grotesk", sans-serif;

/* Sizes Container */



/* Colors */

$black: #151515;
$green: #4EE1A0;
$black-light: #242424;
$white: #FFFFFF;
$grey: #D9D9D9;
$red-text-failed: #FF6F5B;
$text-active: #4EE1A0;


