footer.footer__principal {
    padding-top: 40px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: $black;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .footer__logo {
        width: 100px;
        padding-bottom: 30px;
    }

    .footer__description {
        font-family: $body-font;
        font-size: 14px;
        font-weight: 300;
        width: 280px;
        line-height: 22px;
        color: $white;
        
        padding-bottom: 30px;
        align-items: center;
    }

    .footer__icon {
        color: $white;
        display: flex;
        gap: 18px;
        padding-bottom: 30px;
        
    }
    @include breakpoint(tablet) {
        .container {
            flex-direction: row;
            justify-content: space-between;
            .footer__logo {
                padding-left: 20px;
            }
            .footer__description {
                padding-right: 25px;
                margin-right: 30px;
            }
            .footer__icon {
                padding-right: 20px;
            }
        }
    }

    @include breakpoint(desktop) {
        .container {
            display: flex;
            padding-left: 60px;
            padding-right: 60px;
            .footer__logo {
                margin-left: 40px;
                padding-left: 10px;
                a {
                    width: 1550px;
                }
            }
            .footer__description {
                font-size: 18px;
                width: 400px;
                
            }
            .footer__icon {
                padding-right: 50px;
            }
        }
    }
}

footer.footer-location {
    padding-top: 40px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: $bronce;
    .container-location {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        padding:0 20px 0 20px;
    }

    .footer-location__logo {
        width: 100px;
        padding-bottom: 30px;
    }

    .footer-location__description {
        font-family: $body-font;
        font-size: 14px;
        font-weight: 300;
        width: 280px;
        line-height: 22px;
        color: $black;
        
        padding-bottom: 30px;
        align-items: center;
    }

    .footer-location__icon {
        color: $white;
        display: flex;
        gap: 18px;
        padding-bottom: 30px;
        
    }

    @include breakpoint(tablet) {
        .container-location {
            flex-direction: row;
            justify-content: space-between;
            .footer-location__logo {
                padding-left: 20px;
            }
            .footer-location__description {
                padding-right: 25px;
                margin-right: 30px;
            }
            .footer-location__icon {
                padding-right: 20px;
            }
        }
    }

    @include breakpoint(desktop) {
        .container-location {
            display: flex;
            padding-left: 60px;
            padding-right: 60px;
            .footer-location__logo {
                margin-left: 40px;
                padding-left: 20px;
                a {
                    width: 1550px;
                }
            }
            .footer-location__description {
                font-size: 18px;
                width: 400px;
                
            }
            .footer-location__icon {
                padding-right: 20px;
            }
        }
    }
}