header.header__principal {
    padding-bottom: 100px;
    position: relative;
    .container {
        display: flex;
        flex-direction: column;
        position: relative;

        @include breakpoint(desktop) {
            margin-left: 100px;
            padding-left: 150px;
        }
    }

}