header.header__principal {
    padding-bottom: 100px;
    .container {
        display: flex;
        flex-direction: center;
        justify-content: center;

        @include breakpoint(desktop) {
            margin-left: 100px;
            padding-left: 150px;
        }
    }

}