.project__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 35px;
    h1 {
        font-size: 40px;
    }
}

.projects {
    .container {
        article {
            img {
                padding-bottom: 20px;
            }
            .project__content {
                padding-bottom: 40px;
                h2 {
                    padding-bottom: 15px;
                }

                p {
                    padding-bottom: 20px;
                    font-size: 22px;
                    color: $grey;
                }

                a {
                    margin-right: 30px;
                }
            }
        }
    }
}