.hero {
    margin-bottom: 120px;
    position: relative;
    @include breakpoint(tablet){
        margin-bottom: 40px;
    }
    .hero__img {
        position: absolute;
        top: -260px;
        right: 82px;
        z-index: -1;
        width: 220px;
        @include breakpoint(tablet){
            top: -128px;
            right: -23px;
            width: 300px;
            z-index: -1;
        }
        @include breakpoint(desktopxl){
            top: -128px;
            right: 0px;
            width: 400px;
            z-index: -1;
        }
    }
    .hero__img-circle {
        position: absolute;
        top: 355px;
        right: -250px;
        z-index: -1;
        width: 210px;
        @include breakpoint(tablet){
            z-index: 0;
            top: 430px;
           left: 237px;
        }
        @include breakpoint(desktopxl){
            z-index: 0;
            top: 615px;
           left: -63px;
        }
    }
    .hero__content {
        padding-top: 250px;
        position: relative;
        @include breakpoint(tablet){
            padding-top: 0px;
        }
        @include breakpoint(desktopxl){
            padding-top: 100px;
        }
        .hero__container-top {
            @include breakpoint(tablet){
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 67%;
            }
        }
        .hero__title {
            position: relative;
            font-size: 40px;
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 20px;
            text-align: center;
            @include breakpoint(tablet) {
                font-size: 72px;
                line-height: 1.1;
                text-align: start;
                letter-spacing: -1;
                margin-bottom: 40px;
            }
            @include breakpoint(desktopxl) {
                font-size: 80px;
                line-height: 1.1;
                text-align: start;
                letter-spacing: -1;
                margin-bottom: 40px;
            }
            .hero__name{
                &::before {
                    position: absolute;
                    content: "";
                    height:5px;
                    width: 237px;
                    background-color: $green;
                    top: 95%;
                    @include breakpoint(tablet) {
                        width: 425px;
                        left: 0px;
                    }
                }
            }
        }
        .hero__title span {
            @include breakpoint(tablet){
                display: block;
            }
            @include breakpoint(desktopxl){
                display: inline;
            }
        }
        .hero__description {
            font-size: 18px;
            line-height: 1.5;
            text-align: center;
            margin-bottom: 30px;
            @include breakpoint(tablet){
                font-size: 18px;
                text-align: start;
                line-height: 28px;
                padding-right: 28px;
                letter-spacing: 2.5;
                color: $grey;
            }
            @include breakpoint(desktopxl){
                font-size: 20px;
                text-align: start;
                line-height: 28px;
                padding-right: 293px;
                color: $grey;
                padding-bottom: 30px;
            }
        }
        .hero__btn {
            display: flex;
            justify-content: center;
            padding-bottom: 80px;
            @include breakpoint(desktopxl){
                padding-bottom: 220px;
            }
        }

        .hero__line {
            // &::before {
            //     position: absolute;
            //     content: "";
            //     height: 1px;
            //     width: 100%;
            //     background-color: $white;
            //     top: 600px;
            // }
            border-top: 1px solid $white;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .hero__list {
            padding-top: 70px;
            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
                @include breakpoint(tablet) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    
                }
                @include breakpoint(desktopxl) {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                }
                article {
                    padding-bottom: 30px;
                    @include breakpoint(tablet){
                        padding-bottom: 50px;
                    }
                    h2 {
                        font-size: 40px;
                        font-weight: 700;
                        line-height: 1.2;
                        margin-bottom: 5px;
                        text-align: center;
                        @include breakpoint(tablet){
                            padding-bottom: 10px;
                            text-align: start;
                        }
                    }

                    p {
                        font-size: 18px;
                        line-height: 1.5;
                        text-align: center;
                        color: $grey;
                        @include breakpoint(tablet){
                            padding-bottom: 15px;
                            text-align: start;
                        }
                    }
                    
                }
            }
        }

        .hero__line2 {
            // &::before {
            //     position: absolute;
            //     content: "";
            //     height: 1px;
            //     width: 100%;
            //     background-color: $white;
            //     top: 1350px;
            // }
            border-top: 1px solid $white;
            margin-bottom: 20px;
            margin-top: 10px;
            @include breakpoint(tablet){
                border-top: 0px;
                margin: 0px;
            }
        }
    }
    
    
}