.hero {
    margin-bottom: 120px;
    @include breakpoint(desktop) {
            padding-top: 70px;
            padding-left: 100px;
            padding-right: 100px;
        }
    .hero-1 {
        padding-bottom: 10px;
        img {
            width: 100%;
            height: 335px;
            object-fit: cover;
        }
    }

    .hero-2 {
        .hero-2__title {
            font-family: $title-font;
            font-size: 50px;
            font-weight: 900;
            line-height: 45px;
            color: $black;
            padding-bottom: 30px;
            padding-top: 10px;
        }
        .hero-2__description {
            font-family: $body-font;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            color: $grey;
            padding-bottom: 20px;
            padding-right: 50px;
        }
    }

    .hero-3 {
        padding-bottom: 20px;
        img {
            width: 100%;
            height: 480px;
            object-fit: cover;
        }
    }

    .hero-4 {
        padding-bottom: 20px;
        img {
            width: 100%;
            height: 220px;
            object-fit: cover;
        }
    }

    .hero-5 {
        background-color: $black;
        .hero-5__title {
            font-family: $title-font;
            font-size: 50px;
            font-weight: 900;
            line-height: 45px;
            color: $white;
            padding: 40px 25px 20px 25px;
        }
        .hero-5__description {
            font-family: $body-font;
            font-size: 18px;
            font-weight: 300;
            line-height: 30px;
            color: $white;
            padding: 10px 25px 50px 25px;
        }
    }
    @include breakpoint(tablet) {
        .container{
            display: grid;
            grid-template-columns: 1.2fr 0.4fr 1fr 1.5fr;
            grid-template-areas:
                "hero2 hero2 hero1 hero1"
                "hero3 hero3 hero3 hero4"
                "hero3 hero3 hero3 hero5";
            gap: 10px;
        }
        .hero-1{
            grid-area: hero1;
            padding: 0;
            img {
                height: 100%;
            }
        }

        .hero-2{
            grid-area: hero2;
            padding: 0;
        }

        .hero-3{
            grid-area: hero3;
            padding: 0;
            img {
                height: 100%;
            }
        }

        .hero-4{
            grid-area: hero4;
            padding: 0;
        }

        .hero-5{
            grid-area: hero5;
            padding: 0;
            .hero-5__title {
                font-size: 45px;
            }
        }

    }
}

.hero-location {
    position: relative;
    background-color: $black;
    .container-location{
        padding: 0 20px 0 20px;
    }
    .hero-location__title {
        font-family: $title-font;
        font-size: 50px;
        font-weight: 900;
        line-height: 45px;
        color: $white;
        padding-bottom: 30px;
        padding-top: 45px;
    }
    .hero-location__subtitle {
        font-family: $title-font;
        font-size: 30px;
        font-weight: 900;
        line-height: 45px;
        color: $bronce;
        padding-bottom: 15px;
    }
    .hero-location__direction {
        font-family: $body-font;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        color: $white;
        padding-bottom: 20px;
    }
    .hero-location__description {
        font-family: $body-font;
        font-size: 16px;
        font-weight: 300;
        line-height: 25px;
        color: $white;
        padding-bottom: 50px;
    }

    @include breakpoint(tablet) {
        .container-location {
            padding-top: 70px;
            padding-bottom: 45px;
            display: flex;
            gap: 20px;
            .container-location2 {
                width: 55%;
                padding: 0;
            }
            .hero-location__title {
                padding-left: 33px;
                padding-right: 10px;
                padding-top: 7px;
            }
        }
    }

    @include breakpoint(desktop) {
        .container-location {
            padding-top: 70px;
            padding-bottom: 45px;
            display: flex;
            justify-content: space-between;
            gap: 100px;
            .container-location2 {
                width: 50%;
                padding: 0;
                padding-right: 150px;
            }
            .hero-location__title {
                padding-left: 123px;
                padding-right: 100px;
                padding-top: 7px;
            }
        }
    }
}